<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; style-src <%= cspSource %>; script-src 'nonce-<%= nonce %>';"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="<%- styleResetUri %>" rel="stylesheet" />
    <link href="<%- styleVSCodeUri %>" rel="stylesheet" />
    <link href="<%- styleMainUri %>" rel="stylesheet" />

    <title>Regex Context</title>
  </head>
  <body>
    <h3>context</h3>
    <button id="btnAddContext">add context</button>
    <input type="checkbox" id="btnPattern" checked="true" />

    <div id="contextCtr"></div>

    <h3>find / replace</h3>
    <div class="flex">
      <input type="text" id="txtFind" placeholder="Find" />
      <input type="checkbox" id="checkShowFind" checked="true" />
    </div>
    <div class="flex">
      <input type="text" id="txtReplace" placeholder="Replace" />
    </div>
    <div>
      <button id="btnReplace">replace</button>
    </div>

    <script nonce="<%= nonce %>">
      var exports = {};
    </script>
    <script nonce="<%= nonce %>" src="<%- scriptUri %>"></script>
  </body>
</html>
